*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
}

section{
    width: 100%;
    height: 100%;
    background-image: url(خلفيات-كمبيوتر-4k-لعشاق-الجيمينغ.jpg);
    background-size: cover;
    background-position: center;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    background-color:  rgba(0, 0, 0, 0.8);
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}


.check{
    position: relative;
    top: 30px;
    left: 10px;
    height: 30%;
}

label{
    position: relative;
    top: 30px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
}

.ra{
    position: relative;
    top: 30px;
    left: 12px;
    
}



.da{
    position: relative;
    left:12px;
    top: 12%;
    width: 50%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 10px;
}

.da:hover{
    background-color: rgba(255, 255, 255, 1);
}

.an{
    position: relative;
    left: 30%;
    top: 50%;
    text-decoration: none;
    font-size: 25px;
    color: gray;

}


