*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
}

section{
    width: 100%;
    height: 100%;
    background-image: url(خلفيات-كمبيوتر-4k-لعشاق-الجيمينغ.jpg);
    background-size: cover;
    background-position: center;
}

.cont{
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 30px;
    z-index: 1;
    color: white;
    width: 250px;
    height: 300px;
}

h1{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 40px;
    right: 2%;
    color:white ;
    

}

form{
     border-radius: 15px;
    position: absolute;
    bottom: -50PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    
}

.in1{
   margin-bottom: 30px;
}

.in2{
    margin-bottom: 30px;
}

.in{
    border-radius: 5px;
    border: none;
    width: 190px;
    height: 25px;
    border: none;
    color: rgb(219, 219, 219);
    font-size: 15px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    &:focus{
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }
    &::placeholder{
        color: white;
    }
    &:hover{
        background-color: rgba(0, 0, 0, 0.8);
    }
    &:focus{
        background-color: rgba(0, 0, 0, 0.8);
    }
    &::placeholder{
        color: white;
    }
    &:hover{
        background-color: rgba(0, 0, 0, 0.8);
    }
    &:focus{
        background-color: rgba(0, 0, 0, 0.8);
    }
    &::placeholder{
        color: white;
    }
    &:hover{
        background-color: rgba(255, 255, 255, 0.8);
    }
    &:focus{
        background-color: rgba(234, 234, 234, 0.8);
    }
}

.in3{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.6);
    

}

.got{
    text-decoration: none;
    font-size: 15px;
    color: rgb(216, 208, 208);
    position: relative;
    top: 15px;
}

.got2{
    text-decoration: none;
    font-size: 15px;
    color: rgb(216, 208, 208);
    position: relative;
    top: 25px;
}



